# Site Information
site_name: Depictio Documentation
site_url: https://depictio.github.io/depictio-docs/
site_description: "Documentation for Depictio"

# Repository Information
repo_url: https://github.com/depictio/depictio
repo_name: depictio/depictio

# Copyright Information
copyright: Copyright &copy; 2023 - 2026 Thomas Weber

# Theme Configuration
theme:
  name: material
  custom_dir: overrides
  icon:
    annotation: material/record-circle
  logo: "/images/logo/animated_favicon.svg"
  favicon: "/images/logo/logo_icon.png"

  # Color Settings
  palette:
    - scheme: default
      primary: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to light mode

  # UI Features
  features:
    # Content
    - content.code.copy
    - content.code.select
    - content.code.annotate

    # Navigation
    - navigation.sections
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.expand
    - navigation.top

    # Header
    - header.autohide

    # TOC
    - toc.follow

    # Search
    - search.highlight
    - search.share
    - search.suggest

    # Other
    - announce.dismiss

# Extra CSS
extra_css:
  - stylesheets/extra.css
  - stylesheets/timeline.css
  - stylesheets/blog.css
  - stylesheets/neoteroi-mkdocs-v1.1.3.css
  # - stylesheets/css-v1.0.4.css
  - https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css
  - https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css

# Extra JavaScript
extra_javascript:
  - javascripts/triangular-animation.js

# Markdown Extensions
markdown_extensions:
  # Basic Extensions
  - admonition
  - attr_list
  - def_list
  - meta
  - md_in_html
  - footnotes

  # Timeline
  - neoteroi.timeline


  # PyMdown Extensions
  - pymdownx.caret
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      auto_title: false
      linenums: false
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      base_path:
        - docs
  - pymdownx.tabbed
  - pymdownx.inlinehilite
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  # Table of Contents
  - toc:
      toc_depth: 4
      title: On this page
      permalink: true

# Plugins
plugins:
  - search
  - inline-select-svg:
      pattern: "images/logo/animated_favicon.svg"
      replace_tag: true
      add_class: "inline-svg"
  - blog:
      blog_dir: blog
      post_dir: "{blog}/posts"
      post_date_format: medium
      post_url_format: "{slug}"
      post_excerpt_separator: <!-- more -->
      blog_toc: true
      pagination_per_page: 10
      pagination_url_format: "page/{page}"
      categories_allowed:
        - Announcements
        - Launch
        - Demo
        - Tutorials
        - Features
        - Community
        - Technical
        - Development
        - Performance
        - Architecture
        - UI/UX
        - Database
  - swagger-ui-tag
  - kroki:
      ServerURL: "https://kroki.io"
      EnableExcalidraw: true
      FileTypes:
        - svg

# Extra Configuration
extra:
  # Social Links
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/depictio/depictio
      name: GitHub

  # Version Provider
  version:
    provider: mike
    default: stable

  # Google Analytics
  analytics:
    provider: google
    property: G-J14FKHSHLC

# Navigation Structure
nav:
  - index.md
  - Installation:
      - Overview: installation/README.md
      # - Requirements: installation/install.md
      - Server:
          - Docker Compose: installation/docker.md
          - Kubernetes: installation/kubernetes.md
      - CLI:
          - installation/cli.md
      - Configuration: installation/configuration.md
      - Environment Reference: installation/env-reference.md

  - Usage:
      - Overview: usage/README.md
      - Getting Started: usage/get_started.md
      - Guides:
          - WebUI: usage/guides/web_ui.md
          - Dashboard creation: usage/guides/dashboard_creation.md
          - Using the dashboard: usage/guides/dashboard_usage.md
      - Projects:
          - Guide: usage/projects/guide.md
          - YAML project configuration breakdown: usage/projects/yaml-examples.md
          - Full Reference Configuration: usage/projects/reference.md
      - CLI:
          - Usage: depictio-cli/usage.md
          - Minimal YAML config: depictio-cli/minimal_config.md
      - Special Modes:
          - Unauthenticated mode: usage/guides/unauthenticated_mode.md
      # - Administration:
      #     - Overview: usage/administration.md
  - Features:
      - Overview: features/README.md
      - Dashboards: features/dashboards.md
      - Components: features/components.md
      - Cross-DC Filtering: features/cross-dc-filtering.md
      - YAML Dashboard Sync: features/yaml-sync.md
      - Architecture: features/architecture.md
      - Security: features/security.md
  - API:
      - Overview: api/README.md
      # - Endpoints: api/endpoints.md
      - API Reference: api/reference.md
      # - Integration: api/api_docs_integration.md
      - FastAPI Docs: api/fastapi_docs.md
  - Developer:
      - Overview: developer/README.md
      - Modularity: developer/modularity.md
      - Contributing: developer/contributing.md
  - FAQ:
      - Overview: FAQ/README.md
      - General: FAQ/general.md
  - Roadmap: roadmap/README.md
  - Changelog: changelog/README.md
  - Blog:
      - blog/index.md
  - More:
      - Overview: more/README.md
      # - Stories: more/stories.md
      - Funding: more/funding.md
      - Color Palette: more/palette.md
      - Animated Logo: animated-logo.md
