.md-typeset .admonition,
.md-typeset details {
  font-size: 17px
}

.banner {
    height: 12px;       /* Height of the banner */
    position: sticky;   /* Follows as you scroll */
    top: 0;             /* Absolute top of page */
    left: 0;
    width: 100%;
    z-index: 1;         /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
    text-align: center;
    background-color: #f4b136; /* Red */
}

.md-banner {
    background-color: #f4b136; /* Red */
}

.md-header {
    /* grey */
    background-color: #f7f7f7;
}
.md-tabs {
    /* grey */
    background-color: #f7f7f7;
}

